<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<h1>Hi There!</h1>

<form action="/madlib">
  <h3>Please enter a person, a color, a noun, and an adjective:</h3>
  <h2>
    <p><strong>Person:</strong> <select name="human">
          <option value="Lakshmi">Lakshmi</option>
          <option value="Becca">Becca</option>
          <option value="Kat">Kat</option>
          <option value="Sean">Sean</option>
        </p></select>
    <p><strong>Color:</strong> 
        <input type="checkbox" name="color" value="red">
        <label>Red</label>
        <input type="checkbox" name="color" value="white">White
        <input type="checkbox" name="color" value="blue">Blue
    </p>
    <p><strong>Noun: </strong> <input type="text" name="noun"></p>
    <p><strong>Adjective: </strong> <input type="text" name="adjective"></p>
  </h2>
  <br>
  <input type="submit">
</form>
</body>
</html>
     